/* src/App.css */

:root {
  --color-background: #FFFBEF;
  --color-sidebar: #DDEBC7;
  --color-top-panel: #FEDCAC;
  --color-main: #C6DEE8;
  --color-text: #333; /* Default text color */
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.app {
  display: flex;
  height: 100vh; /* Full height of viewport */
}

.sidebar {
  width: 250px;
  background-color: var(--color-sidebar);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFF;
  margin-bottom: 20px;
  border: 2px solid var(--color-text);
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: var(--color-main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: darken(var(--color-main), 10%);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-panel {
  height: 150px; /* Adjust height as needed */
  background-color: var(--color-top-panel);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
